.background{
    
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    background: linear-gradient( 90deg,
    var(--background-color),
    var(--background-second-color),
    var(--background-hover-color),
    var(--background-second-hover-color));
    transition: 0.5s;
    background-size: 300% 300%;
    animation: colors 10s ease infinite;
}
@keyframes colors {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }


  .background svg{
   position: fixed;
   bottom: 0;
  }